:root {
  --verde: #06a663;
  --cinza: #adadad73;
  --branco: white;

}

/*Primeiro vou tirar a margin e o padding de todos os elemntos*/
*{
  margin: 0;
  padding: 0;
  /*esse comenaod de baixo vai fazer com que a box não ultrapasse o tamanho de width e height msmo que o padding e a margin faça ultrapassar*/
  box-sizing: border-box;
}

body{
 font-family: 'Times New Roman', Times, serif; 
 background-color: var(--branco);
}

.app{
  display: flex;
  width: 100%;
  /*justify content vai alinhar toda a aplicação ao centro*/
  justify-content: center;
  /*comando abaixo vai alinhar os itens ao centro*/
  align-items: center;
  /*o flex direction vai indicar como vou alinhar os itens, nesse caso vai ser em coluna*/
  flex-direction: column;

}